@use '@fortawesome/fontawesome-free';

body { background: #f8f0e6; }

.input.radio_buttons label { margin-left: 4px; }

.radio-item input { margin-right: 6px; }

.badge-purple {
  background-color: #7343a0;
  color: #fff;
}
