<div class="card">
  <div class="card-header">
    <h4>
      <strong>User:</strong>
      <%= @member.user_id %>
    </h4>
  </div>
  <div class="card-body">
    <strong>Tenant:</strong>
    <%= @member.tenant_id %>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_member_path(@member) %> |
    <%= link_to 'Back', members_path %>
  </div>
</div>
